In [3]:
import pandas as pd

x = {
    "country": ["Brazil", "Russia"],
    "capital": ["Brasilia", "Moscow"],
    "area": [8.516, 17.10],
    "population": [200.4, 143.5]
}

brics = pd.DataFrame(x)

brics

  country   capital    area  population
0  Brazil  Brasilia   8.516       200.4
1  Russia    Moscow  17.100       143.5

In [4]:
brics.index = ["BR", "RU"]

brics

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5

In [5]:
brics = pd.read_csv("./brics.csv")

brics

  Unnamed: 0 country   capital    area  population
0         BR  Brazil  Brasilia   8.516       200.4
1         RU  Russia    Moscow  17.100       143.5

In [6]:
brics = pd.read_csv("./brics.csv", index_col = 0)

brics

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5

In [7]:
print(type(brics["country"]))
brics["country"]

<class 'pandas.core.series.Series'>

BR    Brazil
RU    Russia
Name: country, dtype: object

In [8]:
print(type(brics[["country"]]))
brics[["country"]]

<class 'pandas.core.frame.DataFrame'>

   country
BR  Brazil
RU  Russia

In [9]:
brics[["country", "capital"]]

   country   capital
BR  Brazil  Brasilia
RU  Russia    Moscow

In [10]:
brics[1:4]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [11]:
brics.loc["RU"]

country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

In [12]:
brics.loc[["RU", "BR"]]

   country   capital    area  population
RU  Russia    Moscow  17.100       143.5
BR  Brazil  Brasilia   8.516       200.4

In [13]:
brics.loc[["RU", "BR"], ["country", "capital"]]

   country   capital
RU  Russia    Moscow
BR  Brazil  Brasilia

In [14]:
brics.iloc[[1]]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [15]:
print(type(brics.iloc[[0,1]]))
brics.iloc[[0,1]]

<class 'pandas.core.frame.DataFrame'>

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5

In [20]:
for label, row in brics.iterrows():
    print("---")
    print(f"label {label}")
    print("---")
    print(row)
    print(row["capital"])
    brics.loc[label, "name_length"] = len(row["country"])
    
print(brics)

---
label BR
---
country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object
Brasilia
---
label RU
---
country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object
Moscow
   country   capital    area  population  name_length
BR  Brazil  Brasilia   8.516       200.4          6.0
RU  Russia    Moscow  17.100       143.5          6.0

In [21]:
brics["name_length_fast"] = brics["country"].apply(len)
brics

   country   capital    area  population  name_length  name_length_fast
BR  Brazil  Brasilia   8.516       200.4          6.0                 6
RU  Russia    Moscow  17.100       143.5          6.0                 6