# Streamlined Data Ingestion with pandas

In [4]:
!curl -s --insecure -o vt_tax_data_2016.csv https://assets.datacamp.com/production/repositories/4412/datasets/61bb27bf939aac4344d4f446ce6da1d1bf534174/vt_tax_data_2016.csv
!curl -s --insecure -o fcc-new-coder-survey.xlsx https://assets.datacamp.com/production/repositories/4412/datasets/fdb113aa942a0e0ad5c155b2f04784886f0038c9/fcc-new-coder-survey.xlsx
!curl -s --insecure -o data.db https://assets.datacamp.com/production/repositories/4412/datasets/86d5855fd30d02afe8cb563da6057190694c6b86/data.db

## Importing Data from Flat Files

### Introduction to Flat Files

In [21]:
import pandas as pd

col_names = ["STATEFIPS", "STATE", "zipcode", "agi_stub", "N1"]
col_nums = [0,1,2,3,4]
df = pd.read_csv("vt_tax_data_2016.csv",
    sep=",",
    #usecols=col_names, # or col_nums
    nrows=100,
    #skiprows=1000,
    #header=None,
    #names=col_names,
    dtype={"zipcode": "str"},
    na_values={"zipcode": 0},
    error_bad_lines=False,
    warn_bad_lines=True,
    )
print("---")
print(df.shape)
print("---")
print(df.dtypes)
print("---")
print(df[df.zipcode.isna()])
print("---")
df.head()

---
(100, 147)
---
STATEFIPS     int64
STATE        object
zipcode      object
agi_stub      int64
N1            int64
              ...
A85300        int64
N11901        int64
A11901        int64
N11902        int64
A11902        int64
Length: 147, dtype: object
---
   STATEFIPS STATE zipcode  agi_stub      N1  mars1  MARS2  MARS4   PREP  \
0         50    VT     NaN         1  111580  85090  14170  10740  45360
1         50    VT     NaN         2   82760  51960  18820  11310  35600
2         50    VT     NaN         3   46270  19540  22650   3620  24140
3         50    VT     NaN         4   30070   5830  22190    960  16060
4         50    VT     NaN         5   39530   3900  33800    590  22500
5         50    VT     NaN         6    9620    600   8150      0   7040

       N2  ...  N10300  A10300  N85530  A85530  N85300  A85300  N11901  \
0  130630  ...   53660   50699       0       0       0       0   10820
1  132950  ...   74340  221146       0       0       0       0   12820
2   91870  ...   44860  266097       0       0       0       0   10810
3   71610  ...   29580  264678       0       0       0       0    7320
4  103710  ...   39170  731963      40      24       0       0   12500
5   26430  ...    9600  894432    3350    4939    4990   20428    3900

   A11901  N11902  A11902
0    9734   88260  138337
1   20029   68760  151729
2   24499   34600   90583
3   21573   21300   67045
4   67761   23320  103034
5   93123    2870   39425

[6 rows x 147 columns]
---

C:\Users\slavo\AppData\Local\Temp\ipykernel_21444\1556121908.py:5: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv("vt_tax_data_2016.csv",
C:\Users\slavo\AppData\Local\Temp\ipykernel_21444\1556121908.py:5: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv("vt_tax_data_2016.csv",

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,50,VT,NaN,1,111580,85090,14170,10740,45360,130630,...,53660,50699,0,0,0,0,10820,9734,88260,138337
1,50,VT,NaN,2,82760,51960,18820,11310,35600,132950,...,74340,221146,0,0,0,0,12820,20029,68760,151729
2,50,VT,NaN,3,46270,19540,22650,3620,24140,91870,...,44860,266097,0,0,0,0,10810,24499,34600,90583
3,50,VT,NaN,4,30070,5830,22190,960,16060,71610,...,29580,264678,0,0,0,0,7320,21573,21300,67045
4,50,VT,NaN,5,39530,3900,33800,590,22500,103710,...,39170,731963,40,24,0,0,12500,67761,23320,103034

## Introduction to spreadsheets

### Loading Spreadsheets

In [ ]:

import pandas as pd

survey_data = pd.read_excel("fcc-new-coder-survey.xlsx")
survey_data.head()

In [25]:
survey_data = pd.read_excel("fcc-new-coder-survey.xlsx",
                            skiprows=2,
                            usecols="W:AB,AR")
survey_data.head()

,CommuteTime,CountryCitizen,CountryLive,EmploymentField,EmploymentFieldOther,EmploymentStatus,Income
0,35.0,United States of America,United States of America,office and administrative support,NaN,Employed for wages,32000.0
1,90.0,United States of America,United States of America,food and beverage,NaN,Employed for wages,15000.0
2,45.0,United States of America,United States of America,finance,NaN,Employed for wages,48000.0
3,45.0,United States of America,United States of America,"arts, entertainment, sports, or media",NaN,Employed for wages,43000.0
4,10.0,United States of America,United States of America,education,NaN,Employed for wages,6000.0

### Getting data from multiple worksheets

In [ ]:
survey_data = pd.read_excel("fcc-new-coder-survey.xlsx",
                            sheet_name=["2017"], # or None for all sheets
                            )
survey_data.head()

In [27]:
survey_responses = pd.read_excel("fcc-new-coder-survey.xlsx",
                                 sheet_name=None)

all_responses = pd.DataFrame()

for sheet_name, frame in survey_responses.items():
    frame["Year"] = sheet_name
    all_responses = all_responses.append(frame)

print(all_responses.Year.unique())

['2016' '2017']

C:\Users\slavo\AppData\Local\Temp\ipykernel_21444\2687876290.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_responses = all_responses.append(frame)
C:\Users\slavo\AppData\Local\Temp\ipykernel_21444\2687876290.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_responses = all_responses.append(frame)

### Modifying imports: true/false data

In [44]:
df = pd.read_excel("fcc-new-coder-survey.xlsx",
                   sheet_name="2017",
                   skiprows=2,
                   )
print(df.columns)
df = df[["AttendedBootcamp",
         "BootcampLoanYesNo"]]
df["AttendedBootcampTF"] = "TRUE" if df["AttendedBootcamp"] else "FALSE" if not df["AttendedBootcamp"] else None
#df["AttendedBootcampYesNo"] = 
#df["BootcampLoan"] = 
#df["BootcampLoanTF"] = 
print(df.dtypes)
print(df.sum())
print(df.isna().sum())
df.head()

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampLoanYesNo',
       'BootcampName', 'BootcampRecommend', 'ChildrenNumber', 'CityPopulation',
       'CodeEventConferences', 'CodeEventDjangoGirls', 'CodeEventGameJam',
       'CodeEventGirlDev', 'CodeEventHackathons', 'CodeEventMeetup',
       'CodeEventNodeSchool', 'CodeEventNone', 'CodeEventOther',
       'CodeEventRailsBridge', 'CodeEventRailsGirls', 'CodeEventStartUpWknd',
       'CodeEventWomenCode', 'CodeEventWorkshop', 'CommuteTime',
       'CountryCitizen', 'CountryLive', 'EmploymentField',
       'EmploymentFieldOther', 'EmploymentStatus', 'EmploymentStatusOther',
       'ExpectedEarning', 'FinanciallySupporting', 'Gender', 'HasChildren',
       'HasDebt', 'HasFinancialDependents', 'HasHighSpdInternet',
       'HasHomeMortgage', 'HasServedInMilitary', 'HasStudentDebt',
       'HomeMortgageOwe', 'HoursLearning', 'ID.x', 'ID.y', 'Income',
       'IsEthnicMinority', 'IsReceiveDisabilitiesBenefits', 'IsSoftwareDev',
       'IsUnderEmployed', 'JobApplyWhen', 'JobPref', 'JobRelocateYesNo',
       'JobRoleInterest', 'JobWherePref', 'LanguageAtHome', 'MaritalStatus',
       'MoneyForLearning', 'MonthsProgramming', 'NetworkID', 'Part1EndTime',
       'Part1StartTime', 'Part2EndTime', 'Part2StartTime', 'PodcastChangeLog',
       'PodcastCodeNewbie', 'PodcastDeveloperTea', 'PodcastDotNetRocks',
       'PodcastJsAir', 'PodcastJSJabber', 'PodcastNone', 'PodcastOther',
       'PodcastProgrammingThrowDown', 'PodcastRubyRogues', 'PodcastSEDaily',
       'PodcastShopTalk', 'PodcastTalkPython', 'PodcastWebAhead',
       'ResourceCodecademy', 'ResourceCodeWars', 'ResourceCoursera',
       'ResourceEdX', 'ResourceEggHead', 'ResourceFCC', 'ResourceHackerRank',
       'ResourceKhanAcademy', 'ResourceLynda', 'ResourceMDN',
       'ResourceOdinProj', 'ResourceOther', 'ResourcePluralSight',
       'ResourceSkillCrush', 'ResourceStackOverflow', 'ResourceTreehouse',
       'ResourceUdacity', 'ResourceUdemy', 'ResourceW3Schools', 'SchoolDegree',
       'SchoolMajor', 'StudentDebtOwe'],
      dtype='object')

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [41]:
df = pd.read_excel("fcc-new-coder-survey.xlsx",
                   sheet_name="2017",
                   skiprows=2,
                   dtype={"AttendedBootcamp": bool, 
                          "BootcampLoanYesNo": bool,
                          },
                    true_values=["Yes"],
                    false_values=["No"],
)
df = df[["AttendedBootcamp",
         # "AttendedBootcampTF", 
         # "AttendedBootcampYesNo",
         # "BootcampLoan",
         # "BootcampLoanTF", 
         "BootcampLoanYesNo"]]
print(df.dtypes)
print(df.sum())
print(df.isna().sum())
df.head()

ValueError: Bool column has NA values in column AttendedBootcamp

### Modifying imports: parsing dates

In [53]:
df = pd.read_excel("fcc-new-coder-survey.xlsx",
                   skiprows=2,
                   parse_dates=["Part1StartTime","Part1EndTime"],
                   )
print(df.columns)
df = df[["Part1StartTime","Part1EndTime"]]
print(df.dtypes)
df.head()

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampLoanYesNo',
       'BootcampName', 'BootcampRecommend', 'ChildrenNumber', 'CityPopulation',
       'CodeEventConferences', 'CodeEventDjangoGirls', 'CodeEventGameJam',
       'CodeEventGirlDev', 'CodeEventHackathons', 'CodeEventMeetup',
       'CodeEventNodeSchool', 'CodeEventNone', 'CodeEventOther',
       'CodeEventRailsBridge', 'CodeEventRailsGirls', 'CodeEventStartUpWknd',
       'CodeEventWomenCode', 'CodeEventWorkshop', 'CommuteTime',
       'CountryCitizen', 'CountryLive', 'EmploymentField',
       'EmploymentFieldOther', 'EmploymentStatus', 'EmploymentStatusOther',
       'ExpectedEarning', 'FinanciallySupporting', 'Gender', 'HasChildren',
       'HasDebt', 'HasFinancialDependents', 'HasHighSpdInternet',
       'HasHomeMortgage', 'HasServedInMilitary', 'HasStudentDebt',
       'HomeMortgageOwe', 'HoursLearning', 'ID.x', 'ID.y', 'Income',
       'IsEthnicMinority', 'IsReceiveDisabilitiesBenefits', 'IsSoftwareDev',
       'IsUnderEmployed', 'JobApplyWhen', 'JobPref', 'JobRelocateYesNo',
       'JobRoleInterest', 'JobWherePref', 'LanguageAtHome', 'MaritalStatus',
       'MoneyForLearning', 'MonthsProgramming', 'NetworkID', 'Part1EndTime',
       'Part1StartTime', 'Part2EndTime', 'Part2StartTime', 'PodcastChangeLog',
       'PodcastCodeNewbie', 'PodcastDeveloperTea', 'PodcastDotNetRocks',
       'PodcastJsAir', 'PodcastJSJabber', 'PodcastNone', 'PodcastOther',
       'PodcastProgrammingThrowDown', 'PodcastRubyRogues', 'PodcastSEDaily',
       'PodcastShopTalk', 'PodcastTalkPython', 'PodcastWebAhead',
       'ResourceCodecademy', 'ResourceCodeWars', 'ResourceCoursera',
       'ResourceEdX', 'ResourceEggHead', 'ResourceFCC', 'ResourceHackerRank',
       'ResourceKhanAcademy', 'ResourceLynda', 'ResourceMDN',
       'ResourceOdinProj', 'ResourceOther', 'ResourcePluralSight',
       'ResourceSkillCrush', 'ResourceStackOverflow', 'ResourceTreehouse',
       'ResourceUdacity', 'ResourceUdemy', 'ResourceW3Schools', 'SchoolDegree',
       'SchoolMajor', 'StudentDebtOwe'],
      dtype='object')
Part1StartTime    datetime64[ns]
Part1EndTime      datetime64[ns]
dtype: object

       Part1StartTime        Part1EndTime
0 2016-03-29 21:23:13 2016-03-29 21:24:53
1 2016-03-29 21:24:59 2016-03-29 21:27:09
2 2016-03-29 21:25:37 2016-03-29 21:27:11
3 2016-03-29 21:21:37 2016-03-29 21:28:47
4 2016-03-29 21:26:22 2016-03-29 21:29:27

## Introduction to Databases

In [71]:
import pandas as pd
from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///data.db")

#print(engine.table_names())

with engine.begin() as conn:
    weather = pd.read_sql("weather", conn)
    # or 
    weather = pd.read_sql(text("SELECT * FROM weather"), conn)
    
weather.head()

,station,name,latitude,longitude,elevation,date,month,awnd,prcp,snow,tavg,tmax,tmin
0,USW00094728,"NY CITY CENTRAL PARK, NY US",40.77898,-73.96925,42.7,12/01/2017,December,5.37,0.00,0.0,,52,42
1,USW00094728,"NY CITY CENTRAL PARK, NY US",40.77898,-73.96925,42.7,12/02/2017,December,3.13,0.00,0.0,,48,39
2,USW00094728,"NY CITY CENTRAL PARK, NY US",40.77898,-73.96925,42.7,12/03/2017,December,2.01,0.00,0.0,,48,42
3,USW00094728,"NY CITY CENTRAL PARK, NY US",40.77898,-73.96925,42.7,12/04/2017,December,3.58,0.00,0.0,,51,40
4,USW00094728,"NY CITY CENTRAL PARK, NY US",40.77898,-73.96925,42.7,12/05/2017,December,6.71,0.75,0.0,,61,50

## Importing JSON Data and Working with APIs

### Introduction to JSON

In [80]:
import pandas as pd
df = pd.read_json('[{"a":1, "b": "alpha"}, {"a": 2, "b": "beta"}]',
                  orient="record" # or column or split
                  )
df

   a      b
0  1  alpha
1  2   beta

In [79]:
import pandas as pd
df = pd.read_json('{"a":[1,2], "b": ["alpha","beta"]}',
                  orient="column"
                  )
df

   a      b
0  1  alpha
1  2   beta

In [78]:
import pandas as pd
df = pd.read_json('{"columns": ["a", "b"], "index": [0,1], "data": [[1,"alpha"], [2,"beta"]]}',
                  orient="split"
                  )
df

   a      b
0  1  alpha
1  2   beta

### Introduction to APIs

In [ ]:
import requests
import pandas as pd

api_url = "http://api.yelp.com/v3/businesses/search"
params = {"terms": "bookstore",
          "locartion": "San Francisco"}
api_key = "+++***+++"
headers = {"Authorization": f"Bearer {api_key}"}

response = requests.get(api_url, params=params, headers=headers)

data = response.json()

df = pd.read_json(response)

### Working with nested JSONs

In [ ]:
from pandas.io.json import json_normalize

json_normalize(data["businesses"], 
               record_path="categories",
                 meta=..., 
                 meta_prefix="biz_")

### Combining multiple datasets

In [89]:
import pandas as pd
import requests

api_url = 'https://api.yelp.com/v3/businesses/search'

api_key = "xxx" 

headers = {"Authorization": f"Bearer {api_key}"}

params = {"term": "cafe", 
          "location": "NYC",
          "sort_by": "rating", 
          "limit": 50}

response = requests.get(api_url, headers=headers, params=params)

assert response.status_code == 200, f"Response status code {response.status_code} is not OK"

data = response.json()

top_50_cafes = pd.DataFrame(data["businesses"])

cafes = top_50_cafes

print(cafes.shape)

params = params | {"offset": 50}

result = requests.get(api_url, headers=headers, params=params)

next_50_cafes = json_normalize(result.json()["businesses"])

cafes.append(next_50_cafes, ignore_index=True)

print(cafes.shape)

AssertionError: Response status code 400 is not OK

In [ ]:
df.merge(df2,
         on="col")
df.merge(df2,
         left_on="col1",
        right_on="col2")