# Joining Data with pandas

## Data Merging Basics

### Inner Join

In [16]:
!curl -s --insecure -o ward.p https://assets.datacamp.com/production/repositories/5486/datasets/87c16fd85c435ea10221932ebab27ffb6b232c74/ward.p
!curl -s --insecure -o census.p https://assets.datacamp.com/production/repositories/5486/datasets/c778c41d8b2f0d4cc6c842e95e0c650c7156c82c/census.p
!curl -s --insecure -o licenses.p https://assets.datacamp.com/production/repositories/5486/datasets/2a4d8e5d91f6f2b41477fa6ea81da91e4f09305e/licenses.p

In [13]:
import pandas as pd
wards = pd.read_pickle("ward.p")
census = pd.read_csv("census.p", encoding = 'ascii')

#wards_census = wards.merge(census, on="ward", suffixes=["_ward", "_cen"])
#print(wards_census.shape)
#print(wards_census.columns)
#print(wards_census.head())

UnicodeDecodeError: 'ascii' codec can't decode byte 0x80 in position 0: ordinal not in range(128)

In [18]:
import pandas as pd
wards = pd.read_pickle("ward.p")
licenses = pd.read_csv("licenses.p")

#wards_census = wards.merge(census, on="ward", suffixes=["_ward", "_cen"])
#print(wards_census.shape)
#print(wards_census.columns)
#print(wards_census.head())

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x80 in position 0: invalid start byte

## Merging Tables With Different Join Types

In [40]:
!curl -s --insecure -o movies.p https://assets.datacamp.com/production/repositories/5486/datasets/81f8f3290520b0a9bdc6d77deaac87a9d298de46/movies.p
!curl -s --insecure -o taglines.p https://assets.datacamp.com/production/repositories/5486/datasets/f8931478a29a0b3caea914d08cc4a8689b9a0663/taglines.p
!curl -s --insecure -o movie_to_genres.p https://assets.datacamp.com/production/repositories/5486/datasets/a2963ed7eaefdc5ca0ed74fb6520c7588d57bfd5/movie_to_genres.p
!curl -s --insecure -o sequels.p https://assets.datacamp.com/production/repositories/5486/datasets/4072d8a5a94dcf0a537bdcf01032bd0677ada85b/sequels.p

In [21]:
movies = pd.read_pickle("movies.p")
print(movies.shape)
print(movies.columns)
movies.head()

(4803, 4)
Index(['id', 'title', 'popularity', 'release_date'], dtype='object')

      id                 title  popularity release_date
0    257          Oliver Twist   20.415572   2005-09-23
1  14290  Better Luck Tomorrow    3.877036   2002-01-12
2  38365             Grown Ups   38.864027   2010-06-24
3   9672              Infamous    3.680896   2006-11-16
4  12819       Alpha and Omega   12.300789   2010-09-17

In [23]:

taglines = pd.read_pickle("taglines.p")
taglines.head()

       id                                         tagline
0   19995                     Enter the World of Pandora.
1     285  At the end of the world, the adventure begins.
2  206647                           A Plan No One Escapes
3   49026                                 The Legend Ends
4   49529            Lost in our world, found in another.


### Left Join

In [25]:
movies_taglines = movies.merge(taglines, on="id", how="left")
print(movies.shape)
print(movies.columns)
print(taglines.shape)
print(taglines.columns)
print(movies_taglines.shape)
print(movies_taglines.columns)
movies_taglines.head()

(4803, 4)
Index(['id', 'title', 'popularity', 'release_date'], dtype='object')
(3955, 2)
Index(['id', 'tagline'], dtype='object')
(4803, 5)
Index(['id', 'title', 'popularity', 'release_date', 'tagline'], dtype='object')

,id,title,popularity,release_date,tagline
0,257,Oliver Twist,20.415572,2005-09-23,NaN
1,14290,Better Luck Tomorrow,3.877036,2002-01-12,Never underestimate an overachiever.
2,38365,Grown Ups,38.864027,2010-06-24,Boys will be boys. . . some longer than others.
3,9672,Infamous,3.680896,2006-11-16,There's more to the story than you know
4,12819,Alpha and Omega,12.300789,2010-09-17,A Pawsome 3D Adventure

### Other Joins

In [33]:
movies = pd.read_pickle("movies.p")
print(movies.shape)
print(movies.columns)
movie_to_genres = pd.read_pickle("movie_to_genres.p")
print(movie_to_genres.shape)
print(movie_to_genres.columns)
tv_genre = movie_to_genres[movie_to_genre["genre"] == "TV Movie"]
print(tv_genre.shape)
print(tv_genre.columns)
tv_genre.head()

(4803, 4)
Index(['id', 'title', 'popularity', 'release_date'], dtype='object')
(12160, 2)
Index(['movie_id', 'genre'], dtype='object')
(8, 2)
Index(['movie_id', 'genre'], dtype='object')

       movie_id     genre
4998      10947  TV Movie
5994      13187  TV Movie
7443      22488  TV Movie
10061     78814  TV Movie
10790    153397  TV Movie

In [34]:
tv_movies = movies.merge(tv_genre, 
                         how="right",
                         left_on="id",
                         right_on="movie_id")
print(tv_movies.shape)
print(tv_movies.columns)
tv_movies.head()

(8, 6)
Index(['id', 'title', 'popularity', 'release_date', 'movie_id', 'genre'], dtype='object')

,id,title,popularity,release_date,movie_id,genre
0,10947,High School Musical,16.536374,2006-01-20,10947,TV Movie
1,13187,A Charlie Brown Christmas,8.701183,1965-12-09,13187,TV Movie
2,22488,Love's Abiding Joy,1.128559,2006-10-06,22488,TV Movie
3,78814,We Have Your Husband,0.102003,2011-11-12,78814,TV Movie
4,153397,Restless,0.812776,2012-12-07,153397,TV Movie

In [39]:
family_movies = movie_to_genres["genre"] == "Family"
family = movie_to_genres[family_movies]
print(family.head())

comedy_movies = movie_to_genres["genre"] == "Comedy"
comedy = movie_to_genres[comedy_movies]
print(comedy.head())

family_comedy = family.merge(comedy, 
                             on="movie_id",
                             how="outer",
                             suffixes=["_fam", "_com"],
                             )
family_comedy.head()

     movie_id   genre
5          12  Family
33         35  Family
111       105  Family
139       118  Family
156       129  Family
    movie_id   genre
1          5  Comedy
7         13  Comedy
35        35  Comedy
54        68  Comedy
61        71  Comedy

   movie_id genre_fam genre_com
0        12    Family       NaN
1        35    Family    Comedy
2       105    Family    Comedy
3       118    Family    Comedy
4       129    Family       NaN

### Merging a table to itself (Self Join)

In [41]:
sequels = pd.read_pickle("sequels.p")
print(sequels.shape)
print(sequels.columns)
sequels.head()

(4803, 3)
Index(['id', 'title', 'sequel'], dtype='object')

      id         title  sequel
0  19995        Avatar    <NA>
1    862     Toy Story     863
2    863   Toy Story 2   10193
3    597       Titanic    <NA>
4  24428  The Avengers    <NA>

In [42]:
original_sequels = sequels.merge(sequels,
              left_on="sequel",
              right_on="id", 
              suffixes=["_seq","_org"])
original_sequels.head()

,id_seq,title_seq,sequel_seq,id_org,title_org,sequel_org
0,862,Toy Story,863,863,Toy Story 2,10193
1,863,Toy Story 2,10193,10193,Toy Story 3,<NA>
2,675,Harry Potter and the Order of the Phoenix,767,767,Harry Potter and the Half-Blood Prince,<NA>
3,121,The Lord of the Rings: The Two Towers,122,122,The Lord of the Rings: The Return of the King,<NA>
4,120,The Lord of the Rings: The Fellowship of the Ring,121,121,The Lord of the Rings: The Two Towers,122

In [43]:
original_sequels = sequels.merge(sequels,
                                 how="left",
              left_on="sequel",
              right_on="id", 
              suffixes=["_seq","_org"])
original_sequels.head()

   id_seq     title_seq  sequel_seq  id_org    title_org  sequel_org
0   19995        Avatar        <NA>    <NA>          NaN        <NA>
1     862     Toy Story         863     863  Toy Story 2       10193
2     863   Toy Story 2       10193   10193  Toy Story 3        <NA>
3     597       Titanic        <NA>    <NA>          NaN        <NA>
4   24428  The Avengers        <NA>    <NA>          NaN        <NA>

### Merging on Indexes

In [49]:
print(movies.head())
movies.to_csv("movies.csv", index_label="label")
movies_by_id = pd.read_csv("movies.csv", index_col=["id"]) 
movies_by_id.head()

      id                 title  popularity release_date
0    257          Oliver Twist   20.415572   2005-09-23
1  14290  Better Luck Tomorrow    3.877036   2002-01-12
2  38365             Grown Ups   38.864027   2010-06-24
3   9672              Infamous    3.680896   2006-11-16
4  12819       Alpha and Omega   12.300789   2010-09-17

       label                 title  popularity release_date
id
257        0          Oliver Twist   20.415572   2005-09-23
14290      1  Better Luck Tomorrow    3.877036   2002-01-12
38365      2             Grown Ups   38.864027   2010-06-24
9672       3              Infamous    3.680896   2006-11-16
12819      4       Alpha and Omega   12.300789   2010-09-17

In [ ]:
samuel.merge(casts, on=["movie_id", "cast_id"])

In [ ]:
movie_genres = movies_by_id.merge(movie_to_genres,
                                  left_on="id",
                                  left_index=True,
                                  right_on="movie_id",
                                  right_index=True)

## Advanced Merging and Concatenating

In [ ]:
!curl

In [ ]:
genres = ...
top_tracks = ...


### Filtering Joins

In [ ]:
# Semi Join (IN)
genres_tracks = genres.merge(top_tracks, on="gid")
top_genres = genres[genres["gid"].isin(genres_tracks["gid"])]
top_genres.head()

In [ ]:
# Anti Join (NOT IN)
genres_tracks = genres.merge(top_tracks, on="gid", how="left", indicator=True)
gid_list = genres_tracks.loc[genres_tracks["_merge"] == "left_only", "gid"]
non_top_genres = genres[genres["gid"].isin(gid_list)]
non_top_genres.head()

### Concatenate DataFrames together vertically

In [ ]:
pd.concat([inv_jan, inv_feb, inv_mar], 
          ignore_index=False,
          keys=["jan", "feb", "mar"],
          sort=True,
          join="inner",
          )

### Verifying integrity

In [ ]:
df = df1.merge(df2, ...,
               validate="one_to_one", # or one_to_many
               )

df = pd.concat([df1, df2], verify_integrity=True)

## Merging Ordered and Time-Series Data

### Using merge_ordered()

In [ ]:

pd.merge_ordered(df1, df2, 
                 ...,
                 on="",
                 suffixes=["_df1", "_df2"],
                 fill_method="ffill", # forward fill
                 )

### Using merge_asof()

In [ ]:

pd.merge_asof(df1, df2,
              ...,
              on="...",
              suffixes=["_df1", "_df2"],
              direction="forward", # backwards is default # or nearest
              )

### Selecting data with .query()

In [ ]:
stocks.query("price > 100 or price < 120")

stocks.query('stock="nike" or (stock ="disney" and price < 120")')

### Reshaping data with .melt()

In [ ]:
# Unpivot
df.melt(id_vars=["id1", "id2"],
        value_vars=["col1", "col2"],
        var_name=["columns"],
        value_name="value"
        )